 /* //milestone */    
 .custom-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 40px;/* Adds space between the years */
}

.custom-dots li.slick-active button {
    color: red; 
    font-size: 22px;
    font-weight: bold; /* Make the active year bold */
}

.custom-dots li button {
    color: red;
    font-size: 18px;
    transition: all 0.3s ease;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Dots styling */
.custom-dots li {
    position: relative;
}



.custom-dots li.slick-active::before {
    background-color: #ff0000; /* Active dot color */
}
