@keyframes zoomIn {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.1);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .zoomIn {
    animation: zoomIn 2s ease-in-out;
  }
  
  .fadeIn {
    animation: fadeIn 2s ease-in-out;
  }
  
  .fadeOut {
    animation: fadeOut 2s ease-in-out;
  }
  