
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global zoom level set to 80% */
html {
  zoom: 0.8; /* This sets the zoom level to 80% */
}

/* For browsers that don't support zoom, we can use transform scaling */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    transform: scale(0.8); /* For IE and Edge */
    transform-origin: 0 0;
  }
}

.outline-text {
    color: transparent; /* Makes the inner part of the text transparent */
    -webkit-text-stroke: 1px white; /* Creates the outline effect */
    font-family: 'Arial', sans-serif;
  }
  
  .group-hover2\:outline-text-hover {
    color: transparent;
    /* -webkit-text-stroke: 1px red; Change the stroke color to red on hover */
  }
  
  .group2:hover .outline-text {
    -webkit-text-stroke: 1px red;
  }
  
  .group2:hover p,
  .group2:hover span,
  .group2:hover .text-4xl {
    color: red !important; 
  }


  .outline-text2 {
    color: transparent; /* Makes the inner part of the text transparent */
    -webkit-text-stroke: 1px rgb(255, 0, 0); /* Creates the outline effect */
    font-family: 'Arial', sans-serif;
  }
  
  .group-hover2\:outline-text2-hover {
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    /* -webkit-text-stroke: 1px red; Change the stroke color to red on hover */
  }


  @keyframes shine {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }



  .leaflet-tooltip.state-label {
    color: red;
    font-weight: bold;
    background: none;
    border: none;
}








  .bounce-arrow {
    animation: bounce 2s infinite;
    font-size: 24px;
    border: 2px solid black;
    z-index: 50; /* Ensure the button is above the slides */
    position: relative;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }


/* Add this to your global CSS file */
.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee:hover {
  animation-play-state: paused;
}