@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


@tailwind base;
@tailwind components;
@tailwind utilities;



.outline-text {
    color: transparent; /* Makes the inner part of the text transparent */
    -webkit-text-stroke: 1px white; /* Creates the outline effect */
    font-family: 'Arial', sans-serif;
  }
  
  .group-hover2\:outline-text-hover {
    color: transparent;
    /* -webkit-text-stroke: 1px red; Change the stroke color to red on hover */
  }
  
  .group2:hover .outline-text {
    -webkit-text-stroke: 1px red;
  }
  
  .group2:hover p,
  .group2:hover span,
  .group2:hover .text-4xl {
    color: red !important; 
  }


  .outline-text2 {
    color: transparent; /* Makes the inner part of the text transparent */
    -webkit-text-stroke: 1px rgb(255, 0, 0); /* Creates the outline effect */
    font-family: 'Arial', sans-serif;
  }
  
  .group-hover2\:outline-text2-hover {
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    /* -webkit-text-stroke: 1px red; Change the stroke color to red on hover */
  }






  .leaflet-tooltip.state-label {
    color: red;
    font-weight: bold;
    background: none;
    border: none;
}








  .bounce-arrow {
    animation: bounce 2s infinite;
    font-size: 24px;
    border: 2px solid black;
    z-index: 50; /* Ensure the button is above the slides */
    position: relative;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }



  /* //milestone */    
  .custom-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 40px;/* Adds space between the years */
}

.custom-dots li.slick-active button {
    color: #FF8800; 
    font-size: 22px;
    font-weight: bold; /* Make the active year bold */
}

.custom-dots li button {
    color: #888888;
    font-size: 18px;
    transition: all 0.3s ease;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Dots styling */
.custom-dots li {
    position: relative;
}



.custom-dots li.slick-active::before {
    background-color: #FF8800; /* Active dot color */
}
